<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>actor info</title>
</head>
<body>
    <section>
        <h1 class='actorName'>Zendaya</h1>
        <img class="actor-img" src="../photos/MV5BMjAxZTk4NDAtYjI3Mi00OTk3LTg0NDEtNWFlNzE5NDM5MWM1XkEyXkFqcGdeQXVyOTI3MjYwOQ@@._V1_UY317_CR12,0,214,317_AL__QL50.jpg" alt="">
        <p><b>Occupation:</b> Actor | producer | director</p>
        <p><b>Born: </b> September 1, 1996 in Oakland, California, USA</p>

    </section>
</body>
</html>