<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>actor info</title>
</head>
<body>
    {% block content %}
    <section>
        <h1 class='actorName'>{{content[0]}}</h1>
        <img class="actor-img" src="../photos/{{content[3]}}" alt="">
        <p><b>Occupation:</b> {{content[1]}} </p>
        <p><b>Born: </b> {{content[2]}} </p>
    </section>
    <form action="/" method="get">
        <div>
            <button>Go back</button>
        </div>
    </form>
    {% endblock %}
</body>
</html>