<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/style.css">
    <title>Actor Search</title>
</head>
{% block content %}
<body>
    <section class="main">
        <!-- <h1 class="icon"><i class="fas fa-film"></i></h1> -->
        <h1 class="heading">Actor <br><i class="fas fa-film"></i>unt</h1>
        <form action="#" method = "post">
            <div class="searchbar">
                <input class="search" type="text" name="actor" required autocomplete="off"/>
                <span id="underline"></span>
            </div>
            <div class="btn-div">
                <button>Submit</button>
            </div>
        </form>
        <span></span>

    </section>
    <section>
        <div>
            <a href="trial.jpg" download>download the document</a>
        </div>
    </section>
    <script src="./script.js"></script>
</body>
{% endblock %}
</html>