<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/style.css">
    <title>Actor Search</title>
</head>
{% block content %}
<body>
    <section class="main">
        <!-- <h1 class="icon"><i class="fas fa-film"></i></h1> -->
        <h1 class="heading">Actor <br><i class="fas fa-film"></i>unt</h1>
        
            <div class="searchbar">
                <input class="search" type="text" name="actor" id="actor" required autocomplete="off"/>
                <span id="underline"></span>
            </div>
            <div class="btn-div">
                <button class="btn btn-primary" onclick="search();">Submit</button>
            </div>
        
        <span></span>

    </section>
    <section>
        <div>
            <a href="trial.jpg" download>download the document</a>
        </div>
    </section>
    <!-- <script src="./script.js"></script> -->
</body>
{% endblock %}
</html>

{% block script %}
<script>
    // function search() {
    //     var name = document.getElementById("actor")
    //     var entry = {
    //         name : name.value
    //     };

    //     fetch('/search', {
    //         method: "POST",
    //         credentials: "include",
    //         body: JSON.stringify(entry),
    //         cache: "no-cache",
    //         headers: new Headers({
    //             "content-type": "application/json",
    //             "accept":"application/json"
    //         })
    //     })
    //     .then(res=>res.json())
    //     .then(data=>console.log(data))
    // }
    actorName = document.querySelector('.search');
    async function search(){
    res = await fetch('http://127.0.0.1:5000/search',{
        method:'POST',
        headers:{
            'content-type':'application/json'
        },
        body:JSON.stringify({
            name: actorName.value
        })
    })
    data = await res.json()
    console.log(data)
}

</script>

{% endblock %}