<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/style.css">
    <title>Actor Search</title>
</head>
{% block content %}
<body>
    <section class="main">
        <!-- <h1 class="icon"><i class="fas fa-film"></i></h1> -->
        <h1 class="heading">Actor <br><i class="fas fa-film"></i>unt</h1>
        
            <div class="searchbar">
                <input class="search" type="text" name="actor" id="actor" required autocomplete="off"/>
                <span id="underline"></span>
            </div>
            <div class="btn-div">
                <button class="btn btn-primary" onclick="search();">Submit</button>
            </div>
        
        <span></span>

    </section>
    <section id="actor-info">
        <h1 class="actorName"></h1>
        <img class="actor-img" src="../photos/MV5BMjAxZTk4NDAtYjI3Mi00OTk3LTg0NDEtNWFlNzE5NDM5MWM1XkEyXkFqcGdeQXVyOTI3MjYwOQ@@._V1_UY317_CR12,0,214,317_AL__QL50.jpg" alt="">
        <p class="actorOccupation"><b>Occupation:</b>  </p>
        <p class="actorBday"><b>Born: </b> </p>
    </section>
    <section>
        <div>
            <a href="trial.jpg" download>download the document</a>
        </div>
    </section>
    <!-- <script src="./script.js"></script> -->
</body>
{% endblock %}
</html>

{% block script %}
<script>
    // function search() {
    //     var name = document.getElementById("actor")
    //     var entry = {
    //         name : name.value
    //     };

    //     fetch('/search', {
    //         method: "POST",
    //         credentials: "include",
    //         body: JSON.stringify(entry),
    //         cache: "no-cache",
    //         headers: new Headers({
    //             "content-type": "application/json",
    //             "accept":"application/json"
    //         })
    //     })
    //     .then(res=>res.json())
    //     .then(data=>console.log(data))
    // }
    actorNameInput = document.querySelector('.search');
    actorNameheading = document.querySelector('.actorName');
    actorImg = document.querySelector('.actor-img')
    actorOccupation = document.querySelector('.actorOccupation');
    actorBday = document.querySelector('.actorBday');
    actorInfo = document.querySelector('#actor-info');

    async function postreq(){
    res = await fetch('/search',{
        method:'POST',
        headers:{
            'content-type':'application/json'
        },
        body:JSON.stringify({
            name: actorNameInput.value
        })
    })
    data = await res.json()
    return data
    }

    async function search(){
        data = await postreq();
        actorNameheading.innerText=data.name;
        actorImg.src = data.pic;
        actorOccupation.innerText=data.job;
        actorBday.innerText=data.dob;
        actorInfo.style.display='block';
    }

</script>

{% endblock %}